
<!--<ul class="nav nav-tabs">-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="login">Login</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="animatronic">Animatronic</a>-->
<!--  </li>-->

<!--</ul>-->

<nav>
  <div class="nav-wrapper">
    <a routerLink= "" class="brand-logo right"> Rotas Ng2 </a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"> <a routerLink= "/login"> Login </a> </li>
      <li routerLinkActive="active"> <a routerLink= "/animatronic" [queryParams]="{pagina:1}"> Animatronic </a> </li>
      <li routerLinkActive="active"> <a [routerLink]= "['robo', idRobo.value]"> ID Robô </a> </li>
    </ul>
  </div>
</nav>

  <div class="container">

    <br>

       <p>Ensira o id de seu robô animatrônico</p>
      <input #idRobo>

    <router-outlet></router-outlet>
  </div>

